* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #001632;
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
    padding: 3em 1em;
    width: 80%;
}

h1 {
    color: gray;
    font-weight: 500;
    font-size: 2.5rem;
}

h2 {
    color: rgb(228, 226, 226);
    font-weight: 500;
    font-size: 2rem;
    padding: 0.2em 0em;
}

.controllo {
    text-align: start;
    background-color: #cff4fc;
    padding: 1em;
    font-weight: 300;
}

.box-password {
    text-align: start;
    background-color: white;
    padding: 1em;
}

.informazioni-passord {
    width: 100%;
    display: flex;
    align-items: center;
}

.sezione-label {
    width: 50%;
}

.sezione-input {
    width: 50%;
}

input {
    width: 50%;
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 5px;
}

button {
    cursor: pointer;
    color: white;
    background-color: gray;
    padding: 0.8em;
    border-style: none;
    border-radius: 5px;
}

h4 {
    padding: 2em 0em;
}

.invia {
    background-color: #0c6efd;
}